# ! Prisma and Port.
DATABASE_URL=**
PORT=5000

# ! Better Auth Credentials.
BETTER_AUTH_SECRET=**
BETTER_AUTH_URL=**
BETTER_AUTH_SESSION_TOKEN_EXPIRE_IN=**
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=**

# ! JWT Credentials.
ACCESS_TOKEN_SECRET=**
REFRESH_TOKEN_SECRET=**
ACCESS_TOKEN_EXPIRES_IN=**
REFRESH_TOKEN_EXPIRES_IN=**

# !
NODE_ENV=development

# ! Email Sending Credentials.
EMAIL_SENDER_SMTP_USER=**
EMAIL_SENDER_SMTP_PASS=**
EMAIL_SENDER_SMTP_HOST=**
EMAIL_SENDER_SMTP_PORT=**
EMAIL_SENDER_SMTP_FROM=**

# ! Social Login Credentials (Google).
GOOGLE_CLIENT_ID=**
GOOGLE_CLIENT_SECRET=**
GOOGLE_CLIENT_CALLBACK_URL=**
FRONTEND_URL=**

# ! Cloudinary Credentials.
CLOUDINARY_CLOUD_NAME=**
CLOUDINARY_API_KEY=**
CLOUDINARY_API_SECRET=**